!*.md
!*.py
!*install
!lib/*
!data/
!example/*
example/*.stats.txt
example/a*
example/test*
.DS_Store
!setup*
!requirements.txt
!blobtools
!MANIFEST.in
data/n*
samtools/
*.pyc
*.gz
*.fq
*.png
!blobplot.png
*.sam

